.dashboard {
	display: flex;
}

.vid {
	flex: 3;
	margin-inline: 1em;
	/* Additional styling */
}

.members {
	flex: 1;
	margin-inline: 1em;
	/* Additional styling */
}

@media screen and (max-width: 768px) {
	.dashboard {
		flex-direction: column;
	}
}
